:root {
    --step-px: 4px;
    --bg-body-light: #f9f2e7;
    --first-logo-gold-color: rgba(246, 173, 45, 1);
    --second-logo-light-gold-color: rgba(247, 202, 123, 1);
    --logo-dark-brown-color: #2f2710;
    --logo-red-color: #c20505;
    --logo-turquoise-color: #309188;
    --text-accent-color: #F25B88
}