.about-us .container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}


.img-wrapper {
    position: relative;
    width: 100%;
    max-width: 320px;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
}

.person-card img {
    max-height: fit-content;
    width: 700px;
    position: absolute;
    left: 50%;
    top: 50%;
}

.person-card.first img {
    transform: translate(-56%, -28%);
}

.person-card.second img {
    width: 600px;
    transform: translate(-55%, -35%);
}

.person-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.person-card h3 {
    font-size: 36px;
}

.person-card p {
    text-align: center;
    font-size: 24px;
}