.about-us .description {
    text-align: center;
    margin-top: 16px;
}

.person-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
    align-items: center;
}

.person-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 738px;
}

.title-img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.about-us .img-wrapper {
    position: relative;
    width: 100%;
    max-width: 320px;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 25%);
}

.person-card img {
    max-height: fit-content;
    width: 700px;
    position: absolute;
    left: 50%;
    top: 50%;
}

.person-card.first .default-photo {
    transform: translate(-48%, -34%);
}

.person-card.first .heppie-photo {
    width: 460px;
    transform: translate(-45%, 30%);
    transition: transform 250ms linear;
}

.person-card.first:hover .heppie-photo {
    transform: translate(-45%, -28%)
}

.person-card.second .default-photo {
    width: 600px;
    transform: translate(-55%, -35%);
}

.person-card.second .heppie-photo {
    width: 450px;
    transform: translate(-50%, 20%);
    transition: transform 250ms linear;
}

.person-card.second:hover .heppie-photo {
    transform: translate(-50%, -40%);
}

.person-card h3 {
    text-align: center;
    font-size: 36px;
}

.person-card p {
    text-align: center;
}

@media (min-width: 720px) {
    .about-us.section {
        background-image: url("../img/background-about-us-tablet.png");
        background-repeat: no-repeat;
        background-position: center;
    }

    .person-wrapper {
        gap: 0;
    }

    .person-card {
        flex-direction: row;
        gap: 60px;
    }

    .person-card:nth-child(2n) {
        flex-direction: row-reverse;
    }

    .person-card .img-wrapper {
        width: 260px;
    }
}