body {
    background-color: var(--bg-body-light);
    font-family: 'caveat';
}

button {
    cursor: pointer;
}

.hidden-visually {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.section {
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 60px 0;
}

.container {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 375px;

    @media (min-width: 719px) {
        padding: 0 15px;
        max-width: 768px;
    }

    @media (min-width: 1024px) {
        max-width: 1024px;
    }
}