.header {
    background-color: var(--bg-body-light);
}

.header .mob-wrapper {
    width: 100%;
    position: relative;
    z-index: 1;
    background-color: var(--bg-body-light);
    display: flex;
    justify-content: space-between;
}

.header .button-burger-menu {
    display: block;
    background: transparent;
    border: none;
    padding-top: calc(4*var(--step-px));
}

.header .icon-burger-menu {
    fill: var(--first-logo-gold-color);
}

.header .icon-cross-menu {
    display: none;
    stroke: var(--first-logo-gold-color);
}

.js-open-menu .icon-cross-menu {
    display: block;
}

.js-open-menu .icon-burger-menu {
    display: none;
}

.header .container {
    display: flex;
    justify-content: space-between
}

.header nav {
    transform: translate(-50%, -150%);
    transition: transform 300ms ease-in-out;
    background-color: var(--bg-body-light);
    display: block;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
}

.header .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: calc(10 * var(--step-px));
    font-size: calc(8 * var(--step-px));
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.js-open-menu nav {
    background-color: var(--bg-body-light);
    transform: translate(-50%, -50%);
}

.nav-list .nav-link {
    width: 80vw;
    text-align: center;
    display: block;
    padding: calc(3 * var(--step-px));
    font-size: 40px;
    color: var(--logo-dark-brown-color);
}

.nav-list .nav-link:hover,
.nav-list .nav-link:focus {
    animation-name: vibration;
    animation-duration: 300ms;
    animation-iteration-count: infinite;
}

@keyframes vibration {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-2deg);
    }

    75% {
        transform: rotate(2deg);
    }
}