.header.section {
    background-color: var(--bg-body-light);
    padding: 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .mob-wrapper {
    width: 100%;
    position: relative;
    z-index: 2;
    background-color: var(--bg-body-light);
    display: flex;
    justify-content: space-between;
}

.header .button-burger-menu {
    position: relative;
    z-index: 2;
    display: block;
    background: transparent;
    border: none;
    padding-top: calc(4*var(--step-px));
}

.header .button-burger-menu svg {
    height: calc(12 * var(--step-px));
    width: calc(12 * var(--step-px));
}

.header .icon-burger-menu {
    fill: var(--first-logo-gold-color);
}

.header .icon-cross-menu {
    display: none;
    stroke: var(--first-logo-gold-color);
}

.js-open-menu .icon-cross-menu {
    display: block;
}

.js-open-menu .icon-burger-menu {
    display: none;
}


.header nav {
    transform: translate(-50%, -150%);
    transition: transform 300ms ease-in-out;
    background-color: var(--bg-body-light);
    display: block;
    padding-top: calc(24 * var(--step-px));
    width: 100vw;
    height: 100vh;
    min-height: calc(77 * var(--step-px));
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    overflow-y: scroll;
}

.header .nav-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: calc(100% - 24 * var(--step-px));
    padding: 0 30px;
    padding-top: calc(12 * var(--step-px));
    width: 100%;
    column-gap: 10%;
    align-items: center;
    font-size: calc(10 * var(--step-px));
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.js-open-menu nav {
    transform: translate(-50%, -50%);
}

.nav-list .nav-link {
    white-space: nowrap;
    text-align: center;
    display: block;
    padding: calc(3 * var(--step-px)) 0;
    color: var(--logo-dark-brown-color);
    transition: color 250ms ease-in-out;
}

.nav-list .nav-link:hover,
.nav-list .nav-link:focus {
    color: var(--first-logo-gold-color);
}


@media (min-width: 1024px) {
    .header .mob-wrapper {
        width: fit-content;
    }

    .header .button-burger-menu {
        display: none;
    }

    .header nav {
        padding: 0;
        overflow: unset;
        width: auto;
        height: auto;
        min-height: auto;
        transition: none;
        position: unset;
        transform: none;
    }

    .header .nav-list {
        transform: none;
        position: unset;
        flex-direction: row;
        gap: 30px;
        padding: 0;
    }

    .nav-list .nav-link {
        white-space: nowrap;
    }
}