.hero.section {
    padding-top: 65px;
    padding-bottom: 40px;
}

.hero .container {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.hero .img-container {
    max-width: 420px;
    position: relative;
}

.hero .img-shadow {
    position: absolute;
    top: 50%;
    right: 50%;
    display: block;
    width: 100%;
    max-width: 420px;
    height: 280px;
    border-radius: 28px;
    transform-origin: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.img-shadow.first {
    background-color: #ffd6b0;
    transform: scale(1.1) translate(45%, -45%) rotate(8deg);
}

.img-shadow.second {
    background-color: #ffecde;
    transform: scale(1.2) translate(40%, -40%) rotate(-6deg);
}

.hero-decorate {
    position: relative;
    max-width: 375px;
}

.hero .post {
    position: absolute;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 16px;
    max-width: 260px;
    padding: 8px;
    background-color: #f1f2f3;
    border: #ddd solid 2px;
    border-radius: 24px;
    text-align: center;
    opacity: 0;
}

.animated .hero .post {
    opacity: 1;
}

.hero .post img {
    width: 40px;
    height: 40px;
}

.hero .post .flag {
    border-radius: 50%;
    border: #ddd solid 2px;
}

.hero .post p {
    font-size: 16px;
    font-family: "roboto";
}

.hero .post.first {
    top: 0;
    left: 0;
    transform: translate(-10%, -30%);
    transition: opacity 250ms ease-in-out 700ms;
}

.hero .post.first p {
    top: 0;
    width: calc(100% - 14 * var(--step-px));
}

.hero .post.second {
    bottom: 0;
    right: 0;
    transform: translate(10%, 15%);
    transition: opacity 250ms ease-in-out 1000ms;
}

.post.second .svg-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.hero .hero-sticker {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    max-width: 375px;
    height: 320px;
    padding: 40px 20px;
    text-align: center;
    background-color: #F8F1CE;
    font-size: 24px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.hero-sticker .title {
    font-weight: 500;
}

.hero-sticker .btn {
    padding: 8px 16px;
    border-radius: 24px;
    width: fit-content;
    border: none;
    background-color: var(--second-logo-light-gold-color);
    transform: scale(1);
    transition: background-color 250ms ease-in-out, transform 250ms ease-in-out;
}

.hero-sticker .btn:hover,
.hero-sticker .btn:focus {
    background-color: var(--first-logo-gold-color);
    transform: scale(1.05);
}

@media (min-width: 720px) {
    .hero .container {
        flex-direction: row-reverse;
        justify-content: space-around;
    }

    .hero .hero-decorate {
        width: 50%;
        max-width: 420px;
    }

    .hero .flip-card {
        height: 320px;
    }

    .hero .hero-sticker {
        width: 50%;
    }
}