.materials.section {
    padding-bottom: 60px;
    position: relative;
}

.materials .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.materials .gif {
    display: none;
}

.materials .wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.materials-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.materials-list .el {
    display: flex;
    flex-shrink: 0;
    gap: 16px;
}

.materials-list .el p {
    text-align: left;
}

.materials-list .el:nth-child(2n) svg {
    stroke: var(--text-accent-color);
    flex-shrink: 0;
}

.materials-list .el:nth-child(2n+1) svg {
    stroke: var(--first-logo-gold-color);
    flex-shrink: 0;
}

.materials-list .el span {
    color: black;
}

.materials-list .el:nth-child(2n) {
    color: var(--first-logo-gold-color);
}

.materials-list .el:nth-child(2n+1) {
    color: var(--text-accent-color);
}

.learning-app-wrapper {
    width: calc(100vw - (100vw - 100%));
    max-width: 1440px;
    overflow: scroll;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    mask: linear-gradient(90deg, transparent, transparent 2%, white 10%, white 90%, transparent 98%, transparent);
}

.learning-app-wrapper::-webkit-scrollbar {
    display: none;
}

.learning-app {
    width: max-content;
    display: flex;
    gap: 20px;
    animation: scrollApp 20s linear infinite;
}

.learning-app:hover {
    animation-play-state: paused;
}

@keyframes scrollApp {
    to {
        transform: translate(calc(-50% - 10px));
    }
}

@media (min-width: 720px) {
    .materials .gif {
        display: block;
    }
}

@media (min-width: 1024px) {
    .materials .container {
        flex-direction: row;
    }
}